
$bill: hsla(85, 100%, 70%, .25);
$gradient: linear-gradient(50deg, hsl(25, 100%, 50%), $bill, hsl(190, 100%, 50%));
$bg: #333;
@mixin border_radius(){
  border-radius:1em 0 1em 0/1em;
}


body{
  background: $bg;
}
ul {
  background:rgba(0,0,0,.2) url(images/) 0 0/cover fixed no-repeat;
  list-style:none;
  display:grid;
  grid:auto-flow auto / 1fr;
  li {
      position: relative;
      background:$bill $gradient left top/cover content-box;
      background-clip: text;
      color: transparent;
      display: inline-block;
      padding: .1em .15em; 
  }
  li::before{
    content: '';
    position: absolute;
    top: -.1em; bottom: -.1em;
    left: -.1em; right: -.1em;
    z-index: -2;
    @include border_radius();
    background: $gradient;
  }
  li::after{
    content: '';
    position: absolute;
	top: 0; bottom: 0;
    left: 0; right: 0;
	z-index: -1;
	@include border_radius();
	background: $bg;
  }
}
h1{
   
}
  