html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
div {
  display: inline-block;
  min-inline-size: 30em;
  block-size: 30em;
  position: relative;
  border: 2px red solid {
    left: {
      color: magenta;
    }
  }
  img {
    --w: 10em;
    max-inline-size: var(--w, 10em);
    position: absolute;
    inset: calc(50% - var(--w) / 2) {
      inline: calc(50% - var(--w) / 2) {
        start: auto;
        end: auto;
      }
      block: auto 1em {
        start: auto;
        end: auto;
      }
    }
  }
}

h1{
  width: fit-content;
  background: {
    clip: text;
    image: image-set('a.webp')
  }
}*/
/*
div {
  display: inline-block;
  border: solid 2px red;
  //inline-size: 30em;
  //block-size: 30em;
  img {
    display: inline-block;
    max-inline-size: 10em;
    margin: {
      inline: 3em //1em;
    }
  }
}*/
div {
  display: inline-block;
  border: solid 2px red;
  inline-size: 30em;
  block-size: 30em;
}
div img {
  display: inline-block;
  max-inline-size: 50%;
  aspect-ratio: 16/9;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: 50%;
     object-position: 50%;
  border: 1px solid yellow;
}