@charset "UTF-8";
h1:after {
  content: " 1";
}

h2:after {
  content: " 2";
}

h3:after {
  content: " 3";
}

h4:after {
  content: " 4";
}

html box-sizing:border-box *:before,
html *:after {
  box-sizing: inherit;
  font: inherit;
}

:root {
  --font: monospace;
}

@font-face {
  font-family: "Rose Mary";
  src: url(Rosemary.ttf);
}
body {
  font: 1em var(--font), sans-serif;
  background: #222;
  color: #aaa;
}

::selection {
  color: currentColor;
  background-color: #440b55;
}

h1 {
  color: #00ffaa;
}

h1 {
  color: #ff2b00;
}

h2 {
  color: #ff5500;
}

h3 {
  color: #ff8000;
}

h4 {
  color: #ffaa00;
}

h1:before {
  color: #fff;
  content: "★ ";
}

h2:before {
  color: #ff0;
  content: "▶ ";
}

h3:before {
  color: #0f0;
  content: "» ";
}

h4:before {
  color: cyan;
  content: "› ";
}

h4:after {
  content: " 4";
}

h3:after {
  content: " 3";
}

h2:after {
  content: " 2";
}

h1:after {
  content: " 1";
}

li:first-child:before {
  content: "💡Fun fact ";
  color: #bf0;
}

li:first-child:after {
  content: " End💡";
  color: #bf0;
}

li:nth-child(2):before {
  content: "⚠️Head Up! ";
  color: #f40;
}

li:nth-child(2):after {
  content: " End⚠️";
  color: #f40;
}