//@use 'base/base';
//@use 'utilities';
//@use 'components';
//@use 'layouts';
//@use 'vendor/prism.css';

//body {
//  background-clip: text;
//  //background-image:image-set('images/gaara.webp' 2x);
//  color: red;
//}
//@use 'sass:color';
//@debug color.lightness(#c5c5c5);
//
path {
  fill: yellow;
  stroke: black;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

rect:hover, rect:active {
  outline: 1px solid red;
}

