@use 'sass:selector' as *;

//@use 'base/base';
//@use 'utilities';
//@use 'components';
//@use 'layouts';
//@use 'vendor/prism.css';
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


//body {
//  background-clip: text;
//  //background-image:image-set('images/gaara.webp' 2x);
//  color: red;
//}
//@use 'sass:color';
//@debug color.lightness(#c5c5c5);
//

// path {
//   fill: yellow;
//   stroke: black;
//   stroke-width: 8px;
//   stroke-linecap: round;
//   stroke-linejoin: round;
//   pointer-events: none;
// }

// rect:hover, rect:active {
//   outline: 1px solid red;
// }

//p :nth-child(1){font-size: 3em;color: aqua;}

/*
div {
  display: inline-block;
  min-inline-size: 30em;
  block-size: 30em;
  position: relative;
  border: 2px red solid {
    left: {
      color: magenta;
    }
  }
  img {
    --w: 10em;
    max-inline-size: var(--w, 10em);
    position: absolute;
    inset: calc(50% - var(--w) / 2) {
      inline: calc(50% - var(--w) / 2) {
        start: auto;
        end: auto;
      }
      block: auto 1em {
        start: auto;
        end: auto;
      }
    }
  }
}

h1{
  width: fit-content;
  background: {
    clip: text;
    image: image-set('a.webp')
  }
}*/

/*
div {
  display: inline-block;
  border: solid 2px red;
  //inline-size: 30em;
  //block-size: 30em;
  img {
    display: inline-block;
    max-inline-size: 10em;
    margin: {
      inline: 3em //1em;
    }
  }
}*/

div {
  display: inline-block;
  border: solid 2px red;
  inline-size: 30em;
  block-size: 30em;
  img {
    display: inline-block;
    max-inline-size: 50%;
    aspect-ratio: 16/9; //original:1/1
    object-fit: scale-down;
    object-position: 50%;
    border: 1px solid yellow;
  }
}
section{
  p:nth-child(1){font: 1em serif}
  p:nth-child(2){font: 1em Georgia}
  p:nth-child(3){font: 1em Arial}
  p:nth-child(4){font: 1em sans-serif}
  p:nth-child(5){font: 1em cursive}
}
//@debug nest('.grid,.flex','.replaced');